body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.btn-outline-success {
    color: #ecf0f1;
    border-color: #3498db;
}

.btn-outline-success:hover {
    background-color: b3c9df;
    border-color: b3c9df;
}

.carousel-item img {
    filter: brightness(70%);
}

.carousel-caption input {
    max-width: 500px;
}

h2 {
    color: #2c3e50;
    font-size: 1.75em;
    margin-top: 20px;
}

hr {
    border-top: 1px solid #2c3e50;
}

.card {
    width: 18rem; 
    margin: 2px; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #ecf0f1; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-body {
    flex-grow: 1; 
}

.card-title {
    color: #2c3e50;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5rem; 
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    color: #2c3e50; 
}

.total-price {
    color: #2c3e50;
    font-weight: bold;
}

.dropdown-custom {
    background-color: #b3c9df !important;
    color: rgb(17, 3, 58) !important;
    border: none !important;
    padding: 5px 10px !important;
}

.dropdown-custom option {
    background-color: #2c3e50;
    color: white;
}

.card-container {
    margin-bottom: 20px; 
    margin-right: 30px;
}

.home-container {
    background-image: url('/bg_2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh; 
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
